<html>
  <head>
  </head>

  <body>
  <p> The simplest Url shortner you can find! </p>
   <form action="/" method="POST" accept-charset="utf-8">
     <P> <label for ="url" Paste a Url: </label></P>
     <p><input type ="text"  name="url" value="Paste a Url.." ></p>
	 
     <p><input type="submit"  value="Pleez shorten it" ></p>
   </form>
  
  </body>
</html>