<html>
  <head>
  </head>

  <body>
   <form action="/" method="POST">
     <P> <label for => "url">Paste a Url: </label></P>
     <p><input type => "text"  name="url"></p>
     <p><input type="submit"  value="Shorten this Url" ></p>
   </form>
  
   if @short_url.present? && !@short_url.valid?
   <p> Invalid URL: #{@short_url.url} </p>

  </body>
</html>